/* Скрываем ползунок прокрутки для всех браузеров */
html {
    overflow: -moz-scrollbars-none;  /* для Firefox */
    -ms-overflow-style: none;        /* для Internet Explorer и Edge */
    scrollbar-width: none;           /* для Firefox */
}

/* Для веб-браузеров на базе WebKit (например, Chrome, Safari, Opera) */
html::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Gothic60-Regular';
    src: url('../../fonts//Gothic60-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/InterVariable.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Flex';
    src: url('../../fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #000000;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-first-section {
    position: relative;
    width: 100%;
    height: 111.11vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-page-title-container {
    z-index: 1;
    text-align: center;
}

.main-page-title {
    font-size: 60px;
    font-family: 'Gothic60-Regular';
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top: 374px;
}

.main-page-subtitle {
    font-size: 24px;
    font-family: 'Roboto-Flex';
    font-weight: 200;
    padding: 0;
    position: relative;
    margin: 0;
    margin-top: 12px;
    left: -2px;
}

.sticky-block {
    position: sticky;
    top: 0;
    width: 100%;
    height: 111.11vh;
    display: flex;
    background-color: #f5f5f5;
    overflow: hidden;
}

/* Подблоки */
.sub-block {
    position: absolute;
    width: 100%;
    height: 111.11vh;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    color: #303030;
    text-align: center;
    transform: scale(1.1);
}

.block-container {
    display: flex;
    height: 493.94px;
    align-items: flex-start;
}

.block-text {
    max-width: 455px;
    position: relative;
    left: -26px;
    padding: 0;
    text-align: left;
    margin-right: 89px;
    margin-top: 21px;

    h2 {
        font-size: 70px;
        font-family: 'Inter';
        font-weight: 200;
        line-height: 63px;
        margin: 0;
        letter-spacing: -2px;
    }

    p {
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 28px;
    }
}

.block-illustration {
    width: 495.46px;
    height: 449.04px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 24px;
    margin-top: 24px;
}

.sub-block.visible {
    opacity: 1;
    transform: scale(1);
}

.sticky-block {
    position: sticky;
    top: 0;
    width: 100%;
    height: 111.11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    overflow: hidden;
}

.main-block {
    position: relative;
    width: 100%;
    height: 363.33vh; /* 6 блоков + промежутки */
}

.block-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

/* Дополнительный контент */
.content-block-2 {
    width: 100%;
    height: 111.11vh;
    background: url(/public/4\ БЛОК.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.content-block-2-text {
    margin-left: 110px;
    margin-top: 65px;
    position: relative;

    
    h2 {
        color: #DFE9F1;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
        letter-spacing: 0.85px;
        margin: 0;
        margin-bottom: 15px;
    }

    p {
        color: #DFE9F1;
        font-family: Inter;
        font-size: 20.7px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.875px; /* 125% */
        letter-spacing: 0.71px;
        margin: 0;
    }
}

.line {
    display: flex;
    width: 100%;
    height: 207px;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 70px;
        font-style: normal;
        font-weight: 300;
        line-height: 85px; /* 114.286% */
        letter-spacing: 2.4px;
        margin: 0;
        margin-top: 26px;

        position: relative;
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
        margin: 0;
        margin-top: 20px;
        letter-spacing: 0.2px;

        position: relative;
    }
}

.content-block-3 {
    width: 100%;
    height: 850px;
    /* background: url(/public/74ffcc74f10d92280219abb97009f446.jpeg); */
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 44.23%, rgba(0, 0, 0, 0.00) 100%), url(/public/506910a8e5d637e4dd636126b5a67b05.jpeg) lightgray 0px -114.837px / 100% 134.504% no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

/* .content-block-3-black {
    width: 100%;
    height: 922px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(<path-to-image>) lightgray 0px -0.603px / 100% 138.795% no-repeat;
} */

.content-block-3-text {
    margin-top: 53px;
    margin-left: 110px;

    h2 {
        color: #fff;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
        letter-spacing: 0.85px;
        margin: 0;
        margin-bottom: 15px;
    }

    p {
        color: #DFE9F1;
        font-family: Inter;
        font-size: 20.7px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.875px; /* 125% */
        letter-spacing: 0.71px;
        margin: 0;
    }
}

.content-block-4 {
    display: flex;
    width: 100%;
    height: 1142px;
    flex-direction: column;
    align-items: center;
    background: url(/public/bef6eb950876c4d2b594077c92a92275.gif) lightgray 0% 0% / 21.875px 21.875px repeat, #000;

}

.content-block-4-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 81px; /* 115.714% */
    margin: 0;
    margin-top: 84px;
}

.content-block-4-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    margin: 0;
    margin-top: 20px;
}

.content-block-4-blur {
    position: absolute;
    width: 1420px;
    height: 368.712px;

    opacity: 0.3;
    background: #FFF;
    filter: blur(150px);
}

/* ScrollBlocks */
.content-block-4-blocks {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.content-block-4-blocks-subtitle {
    color: rgba(255, 255, 255, 0.77);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 110% */
    letter-spacing: -0.5px;

    margin-top: 40px;
}
.content-block-5 {
    width: 100%;
}

.content-block-5-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 81px; /* 115.714% */
    margin-bottom: 0;
}

.content-block-5-subtitle {
    color: #CECECE;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */

    margin: 0;
    margin-top: 20px;
}

/*  */
.content-block-5-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.block {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large {
    grid-column: span 1;
    grid-row: span 2;
    font-size: 20px;
}

.small {
    font-size: 16px;
}

.large-wide {
    grid-column: span 2;
}

.medium {
    grid-column: span 2;
}

/* contens-block-6 */
.content-block-6 {
    margin-top: 82px;
}
.content-block-6-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 81px; /* 115.714% */
    margin: 0;
}

.content-block-6-subtitle {
    color: #CECECE;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    margin: 0;
    margin-top: 20px;
}

.content-block-6-blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 84px;

    gap: 44px;
}

.content-block-6-block {
    width: 576px;
    height: 580.84px;
    flex-shrink: 0;
    
    border-radius: 20px;
}

/* .content-block-6-block-img {
    display: flex;
    width: 448.215px;
    height: 334.951px;
    padding: 78px 81px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    border: 1px solid #2D2D30;
    background: linear-gradient(180deg, #151517 65.46%, #101115 77.24%);
} */

.content-block-6-block-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    margin-bottom: 42px;
    margin-left: 49px;
    gap: 20px;

    h1 {
        color: #FFF;
        font-family: "Roboto-Flex";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 106.667% */
        margin: 0;
    }

    p {
        color: #FFF;
        font-family: "Roboto-Flex";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.4px; /* 140% */
    }
}

/* content-block-7 */
.content-block-7 {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-block-7-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 81px; /* 115.714% */

    margin: 0;
}

.content-block-7-subtitle {
    color: #CECECE;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */

    margin: 0;
    margin-top: 20px;
}

.content-block-7-block {
    width: 1196px;
    height: 581px;
    border-radius: 20px;

    background: url(/public/e86b7b82d44fce632ff3bac6bcfb657b.png);
    background-size: cover;
    background-position: center -46.5px;
    background-repeat: no-repeat;
    margin-top: 84px;
}

.content-block-7-button {
    display: flex;
    width: 194px;
    height: 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 30px;
    background: #7137FF;

    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;

    margin-top: 35px;
    transition: all 0.3s ease;
}

.content-block-7-button:hover {
    opacity: 0.9;
}

/* content-block-8 */
.content-block-8 {
    margin-top: 84px;
    width: 100%;
}
.content-block-8-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 81px; /* 115.714% */
    margin: 0;
}

.content-block-8-subtitle {
    color: #CECECE;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    margin: 0;
    margin-top: 20px;
}

.content-block-8-block {
    display: flex;
    flex-direction: column;
    height: 833px;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 100px;
}

.content-block-8-smile {
    height: 558px;
    width: 442px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        color: var(--TITLE-COLOUR, #D0D0D0);
        text-align: center;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 26.6px */
        letter-spacing: -0.19px;
        margin-top: -50px;
    }
}

.content-block-8-smile-img {
    transition: all 0.3s ease;
    /* scale: 0.6; */
    position: relative;
    width: 135px;
    height: 135px;
    cursor: pointer;
    /* left: 50%;
    transform: translate(-50%, 0); */
    z-index: 2;
}
.content-block-8-undersmile {
    width: 283px;
    height: 196px;
    position: relative;
    top: -140px;
    background: url(/public/Frame47862.png);
}