.footer {
    position: absolute;
    padding-top: 0;
    bottom: 0;
}

.auth-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
  
  .step-indicator {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 20px; /* Добавляем отступ между индикатором и контентом */
    position: absolute;
    top: 120px;
  }
  
  .step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .step-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #505050;
    background: #242424;
    color: white;
    font-weight: bold;
  }
  
  .step-item h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: 15.56px; /* 119.692% */
    letter-spacing: 0.13px;
    margin-top: 8px;
  }
  
  /* Стили для активного шага */
  .step-item.active .step-circle {
    border: 1px solid #AB6FFF;
    background: #7B3DD1;
  }
  

.active-blocks {
    display: flex;
    flex-direction: row;

    gap: 72px;
}

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.active-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: #FFF;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 800;
        line-height: 15.56px; /* 119.692% */
        letter-spacing: 0.13px;
    }
}

.active-block-1-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid #AB6FFF;

    background: #7B3DD1;
}

.active-block-2-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid #505050;

    background: #242424;
}

.auth-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 15.56px; /* 81.895% */
    letter-spacing: 0.19px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 36px;
}

.auth-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    gap: 15px;
}

.auth-option-logo-1 {
    display: flex;
    width: 233px;
    height: 287px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    margin-bottom: 20px;

    background: url(/public/e7eabe2c6410acf63bd1100ae732b15f.png);
    background-position: center;
    background-size: cover;

    border-radius: 5px;
    border: 1px solid #FFF;

    mix-blend-mode: luminosity;
}

.auth-option-logo-2 {
    display: flex;
    width: 233px;
    height: 287px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    margin-bottom: 20px;

    background: url(/public/a8e32091e0dce16477134c8ce60426c1.png);
    background-position: center;
    background-size: cover;

    border-radius: 5px;
    border: 1px solid #FFF;

    mix-blend-mode: luminosity;
}

/* auth-option-button-1 */
.auth-option-button-1 {
    width: 100%;
    height: 49px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    border: 0.8px solid #4E4E4E;
    
    background: #121212;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 3;

    h1 {
        color: #FFF;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 900;
        line-height: 15.56px; /* 119.692% */
        text-transform: uppercase;

        opacity: 0.5;
        transition: all 0.2s ease-in-out;
    }
}

.auth-option-button-1:hover {
    border: 0.8px solid #4E4E4E;
    background: #683381;
}

.auth-option-button-1:hover h1 {
    opacity: 1;
}

.auth-option:hover .auth-option-logo-1 {
    mix-blend-mode: normal;
    filter: brightness(1.2); /* Для примера добавим яркость */
}

.auth-option-button-2 {
    width: 100%;
    height: 49px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    border: 0.8px solid #4E4E4E;
    
    background: #121212;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 3;

    h1 {
        color: #FFF;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 900;
        line-height: 15.56px; /* 119.692% */
        text-transform: uppercase;

        opacity: 0.5;
        transition: all 0.2s ease-in-out;
    }
}

.auth-option-button-2:hover {
    border: 0.8px solid #4E4E4E;
    background: #683381;
}

.auth-option-button-2:hover h1 {
    opacity: 1;
}

.auth-option:hover .auth-option-logo-2 {
    mix-blend-mode: normal;
    filter: brightness(1.2); /* Добавим яркость для примера */
}

.auth-option-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    z-index: 2; /* Слой выше карточки */
}

/* Animation */
.auth-box {
    position: relative;
}

.step-item {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
}

.step-item.active {
    opacity: 1;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 111.11vh;
    overflow: hidden;
}

.auth-container {
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.step-indicator, .auth-box {
    transition: opacity 0.5s ease-in-out;
}
