.reset-password-container {
    display: flex;
    width: 481px;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 132px;
}

.reset-password-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 15.56px; /* 81.895% */
    letter-spacing: 0.19px;
    text-transform: uppercase;
}