@font-face {
    font-family: 'Gothic60-Regular';
    src: url('../fonts//Gothic60-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts//Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('../fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 4630px;
}

.main-page-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115vh;
    position: relative;
    top: -100px;
    background-size: cover;
}

.main-page-title {
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    margin: 10px;
    padding: 0;
    font-family: 'Gothic60-Regular';
}

.main-page-subtitle {
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Inter-Regular';
}

.main-page-button-try {
    width: Fixed (235px)px;
    height: Fixed (60px)px;
    padding: 15px 37px 15px 37px;
    gap: 10px;
    border-radius: 35px;
    opacity: 0px;

    background-color: #8557F7;

    font-size: 19px;
    font-weight: 600;
    line-height: 22.99px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 40px;
    font-family: 'Inter-Regular';
}

.main-page-second-section-info {
    width: 100%;
    height: 1805px;
    display: flex;
    flex-direction: column;
}

.main-page-second-section-title {
    font-size: 70px;
    font-weight: 400;
    margin-left: 19%;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Yandex Sans Text';
}

.main-page-second-section-subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-left: 19%;
    margin-bottom: 0;
    margin-top: 40px;
    font-family: 'Yandex Sans Text';
}

.main-page-second-section-rectangle {
    width: 63%;
    height: 608px;
    background-image: url(../../public/Rectangle.png);
    background-size: cover;
    margin-left: 19%;
    margin-top: 109px;
    font-family: 'Yandex Sans Text';
    border-radius: 40px;

    p {
        margin-left: 6%;
        position: relative;
        top: 54%;
        max-width: 490px;
        line-height: 0.5;
    }

    .main-page-text {
        display: block;
        margin-top: 3%;

        a {
            margin-left: 6%;
        }

        h2 {
            margin-left: 6%;
        }
    }
}

.main-page-second-section-rectangle-info {
    display: flex;
    height: 608px;
    margin-left: 19%;
    margin-top: 30px;
    width: 63%;
}

.main-page-second-section-rectangle-info-item {
    width: 40%;
    height: 100%;
    margin-left: 1px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: 18px;
        font-weight: 400;
        margin-left: 8%;
        margin-top: 6%;
        font-family: 'Inter-Regular';
    }

    h2 {
        font-size: 22px;
        font-weight: 400;
        margin-left: 8%;
        margin-top: 0;
        font-family: 'Inter-Regular';
        margin-bottom: 30px;
    }
}

/* info-help */

.main-page-third-section-info-help {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.main-page-third-section-info-help-items {
    width: 63%;

    h1 {
        font-size: 70px;
        font-weight: 500;
        margin: 0;
        color: #fff;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 15px;
        color: #808080;
    }
}

.main-page-third-section-info-help-rectangles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.main-page-third-section-info-help-rectangle {
    height: 462px;
    width: 100%;
}

.main-page-third-section-info-help-rectangle-item {
    display: flex;

    height: 365px;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    background-repeat: no-repeat;
}

/* footer */
footer {
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.footer-block-buttons {
    display: flex;
    width: 63%;
    height: 300px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    justify-content: space-between;
    padding-top: 74px;
    padding-bottom: 74px;
    align-items: center;
}

.footer-block-buttons-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
        margin-top: 0;
        font-family: 'Yandex Sans Text';
    }

    a {
        text-decoration: none;
        color: #fff;
        margin-bottom: 15px;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    a:hover {
        color: #96969680;
    }
}

.footer-block-copyright {
    display: flex;
    flex-direction: column;
    width: 63%;
    margin-top: 20px;

    p {
        color: #96969680;
        font-size: 14px;
    }
}

.footer-block-copyright-item {
    display: flex;
    flex-direction: row;

    p {
        color: #96969680;
        font-size: 14px;
    }
}

.footer-block-copyright-item-a {
    display: flex;
    align-items: center;
    margin-left: 150px;

    a {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        text-decoration: none;
        color: #96969680;
        transition: all 0.3s ease;
    }

    a:hover {
        color: #D9D9D9;
    }
}
