/* Скрываем ползунок прокрутки для всех браузеров */
html {
    overflow: -moz-scrollbars-none;  /* для Firefox */
    -ms-overflow-style: none;        /* для Internet Explorer и Edge */
    scrollbar-width: none;           /* для Firefox */
}

/* Для веб-браузеров на базе WebKit (например, Chrome, Safari, Opera) */
html::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Gothic60-Regular';
    src: url('../fonts//Gothic60-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterVariable.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Flex';
    src: url('../fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #000000;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-page-first-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-page-title-container {
    z-index: 1;
    text-align: center;
}

.main-page-title {
    font-size: 60px;
    font-family: 'Gothic60-Regular';
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top: 374px;
}

.main-page-subtitle {
    font-size: 24px;
    font-family: 'Roboto-Flex';
    font-weight: 200;
    padding: 0;
    position: relative;
    margin: 0;
    margin-top: 12px;
    left: -2px;
}

.sticky-block {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f5f5f5;
    overflow: hidden;
}

/* Подблоки */
.sub-block {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    color: #303030;
    text-align: center;
    transform: scale(1.1);
}

.block-container {
    display: flex;
    height: 493.94px;
    align-items: flex-start;
}

.block-text {
    max-width: 455px;
    position: relative;
    left: -26px;
    padding: 0;
    text-align: left;
    margin-right: 89px;
    margin-top: 21px;

    h2 {
        font-size: 70px;
        font-family: 'Inter';
        font-weight: 200;
        line-height: 63px;
        margin: 0;
        letter-spacing: -2px;
    }

    p {
        font-size: 20px;
        font-family: 'Inter';
        font-weight: 300;
        line-height: 28px;
    }
}

.block-illustration {
    width: 495.46px;
    height: 449.04px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 24px;
    margin-top: 24px;
}

.sub-block.visible {
    opacity: 1;
    transform: scale(1);
}

.sticky-block {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    overflow: hidden;
}

.main-block {
    position: relative;
    width: 100%;
    height: 330vh; /* 6 блоков + промежутки */
}

.block-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

/* Дополнительный контент */
.content-block-2 {
    width: 100%;
    height: 1080px;
    background: url(/public/4\ БЛОК.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.content-block-2-text {
    margin-left: 261px;
    margin-top: 833px;

    h2 {
        color: #FFF;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
        letter-spacing: 0.85px;
        margin: 0;
        margin-bottom: 15px;
    }

    p {
        color: #DFE9F1;
        font-family: Inter;
        font-size: 20.7px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.875px; /* 125% */
        letter-spacing: 0.71px;
        margin: 0;
    }
}

.line {
    display: flex;
    width: 100%;
    height: 207px;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 70px;
        font-style: normal;
        font-weight: 300;
        line-height: 85px; /* 114.286% */
        letter-spacing: 2.4px;
        margin: 0;
        margin-top: 26px;

        position: relative;
    }

    p {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
        margin: 0;
        margin-top: 20px;
        letter-spacing: 0.2px;

        position: relative;
    }
}

.content-block-3 {
    width: 100%;
    height: 922px;
    /* background: url(/public/74ffcc74f10d92280219abb97009f446.jpeg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(/public/74ffcc74f10d92280219abb97009f446.jpeg) lightgray 0px -0.603px / 100% 138.795% no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

/* .content-block-3-black {
    width: 100%;
    height: 922px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(<path-to-image>) lightgray 0px -0.603px / 100% 138.795% no-repeat;
} */

.content-block-3-text {
    margin-top: 74px;
    margin-left: 261px;

    h2 {
        color: #DFE9F1;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px; /* 112.5% */
        letter-spacing: 0.85px;
        margin: 0;
        margin-bottom: 15px;
    }

    p {
        color: #DFE9F1;
        font-family: Inter;
        font-size: 20.7px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.875px; /* 125% */
        letter-spacing: 0.71px;
        margin: 0;
    }
}